.common-card {
    background: #FFFFFF;
    padding: 32px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(203, 203, 203, 0.47);
    flex: 1;
  }
  
  .common-card h2 {
    color: #02019C;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 24px;
  }
  
  /* LIST STYLE */
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .list li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 0;
    color: #666;
    font-size: 14px;
  }
  
  /* Tender = ✔ */
  .list.tender li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #111;
  }
  
  /* Notice = > */
  .list.notice li::before {
    content: "›";
    position: absolute;
    left: 0;
    color: #111;
    font-size: 18px;
  }
  @media (max-width: 768px) {
    .common-card {
      padding: 16px;
    }
    .common-card h2 {
      font-size: 24px;
      line-height: 30px;
    }
  }

  @media (max-width: 380px) {
    .common-card {
      padding: 12px;
    }
    .common-card h2 {
      font-size: 20px;
      line-height: 26px;
    }
  }